<section class="todoapp">
  <header class="header">
    <h1>{{ label }}</h1>
    <form>
      <input
        #newTodoInput
        name="newTodoInput"
        class="new-todo"
        placeholder="Que faire?"
        autofocus
        (keyup.enter)="addItem()"
        [(ngModel)]="newTodoInputValue"
      />
    </form>
  </header>
  <section class="main">
    <div id="voiceAdd">
      <button #micButton (click)="activateSpeechAdd()" id="icon-mic">
        <fa-icon [icon]="faMicrophone" size="2x"></fa-icon>
      </button>
    </div>
  </section>
  <section class="main" *ngIf="data.items.length > 0">
    <input
      class="toggle-all"
      type="checkbox"
      name="toggleAll"
      (click)="toggleAllItems()"
      [checked]="allCompleted()"
    />
    <ul class="todo-list">
      <app-todo-item
        [item]="item"
        *ngFor="let item of itemsFiltered()"
      ></app-todo-item>
    </ul>
  </section>
  <footer class="footer" *ngIf="data.items.length > 0">
    <span class="todo-count">
      <strong>{{ itemLeft() }}</strong>
      {{ itemLeft() === 0 || itemLeft() === 1 ? "restante" : "restantes" }}
    </span>
    <ul class="filters">
      <li>
        <button class="btn-supprAll" *ngIf="data.items.length > 0">
          <fa-icon [icon]="faTrash" (click)="removeAll()"></fa-icon>
        </button>
      </li>
      <li>
        <a
          class="filterAll"
          [ngClass]="{ selected: filter === 'all' }"
          (click)="filter = 'all'"
          >Tous</a
        >
      </li>
      <li>
        <a
          class="filterActives"
          [ngClass]="{ selected: filter === 'active' }"
          (click)="filter = 'active'"
          >Actifs</a
        >
      </li>
      <li>
        <a
          class="filterCompleted"
          [ngClass]="{ selected: filter === 'completed' }"
          (click)="filter = 'completed'"
          >Complétés</a
        >
      </li>
    </ul>
    <button
      *ngIf="itemComplete() > 0"
      class="clear-completed"
      (click)="checkedDelete()"
    >
      Supprimer cochées
    </button>
  </footer>
</section>
