<div class="view">
  <input
    class="toggle"
    type="checkbox"
    name="done"
    [ngModel]="isDone"
    (ngModelChange)="isDone = $event"
  />

  <label class="texte" (dblclick)="editionMode = true">
    {{ item.label }}
  </label>
  <button
    [class]="cityExists() ? 'triggerMapExist' : 'triggerMapNotExist'"
    (click)="getLatLet()"
  >
    <fa-icon [icon]="faMapPin"></fa-icon>
  </button>
  <button class="destroy" (click)="destroy()"></button>
</div>
<form *ngIf="editionMode" (submit)="label = newTextInput.value">
  <input
    #newTextInput
    name="newTextInput"
    class="edit"
    [ngModel]="label"
    (blur)="label = newTextInput.value"
  />
</form>
